<div class="row">

    <div class="small-12 medium-8 large-6 columns medium-push-4 large-push-3">

        <!-- Feed Entry -->
        <div class="row">
            <div class="small-3 large-2 columns "><img src="http://placehold.it/80x80&text=[img]" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                <ul class="inline-list">
                    <li><a href="">Reply</a></li>
                    <li><a href="">Share</a></li>
                </ul>
            </div>
        </div>
        <!-- End Feed Entry -->

        <hr />

        <!-- Feed Entry -->
        <div class="row">
            <div class="small-3 large-2 columns"><img src="http://placehold.it/80x80&text=[img]" /></div>
            <div class="small-9 large-10 columns">
                <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                <ul class="inline-list">
                    <li><a href="">Reply</a></li>
                    <li><a href="">Share</a></li>
                </ul>
            </div>
        </div>
        <!-- End Feed Entry -->

        <hr />

        <!-- Feed Entry -->
        <div class="row">
            <div class="small-3 large-2 columns "><img src="http://placehold.it/80x80&text=[img]" /></div>
            <div class="small-9 large-10 columns ">
                <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
                <ul class="inline-list">
                    <li><a href="">Reply</a></li>
                    <li><a href="">Share</a></li>
                </ul>
            </div>
        </div>
        <!-- End Feed Entry -->

    </div>

</div>
