<div class="row"
     ng-controller="view.content.ListController as ctrl">

    <div class="small-12 medium-8 large-6 columns medium-push-4 large-push-3">

        <!-- Feed Entry -->
        <div ng-repeat="item in ctrl.sayingsList">
            <div class="row">
                <div class="small-3 large-2 columns "><img src="http://placehold.it/80x80&text=[img]"/></div>
                <div class="small-9 large-10 columns">
                    <p><strong>{{item.name}} said:</strong> {{item.saying}}</p>
                    <ul class="inline-list">
                        <li><a href="">Reply</a></li>
                        <li><a href="">Share</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Feed Entry -->

            <hr/>
        </div>

    </div>

</div>
